@import "../index.scss";
@import "../mixins";


.PrimaryView {
  @include layer-bg("primary");
  @include layer-color("primary");
  @include view;
  width: 100%;
  height: 100%;
  position: absolute;
  
}

.SecondaryView {
  @include layer-bg("secondary");
  @include layer-color("secondary");
  @include view;
  width: 100%;
  height: 100%;
  position: absolute;
  
}

