// TYPOGRAPHY
$font: 'font-family: "Exo", sans-serif;';
$font-size: 12px;

$primary-layer-bg-color:#528ca7;
$primary-layer-color: #c2f3d5;

$secondary-layer-bg-color: #9ac6ec;
$secondary-layer-color: #244846;

$primary-layer: (
  "background": $primary-layer-bg-color,
  "color": $primary-layer-color
);
$secondary-layer: (
  "background": $secondary-layer-bg-color,
  "color": $secondary-layer-color
);

$break-points: (
  "small": 480px,
  "medium": 720px,
  "large": 960px,
  "xlarge": 1200px
);
