.ButtonContainer {
  position: relative;
}
.Button {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background-color: #cccccc;
  background-image:  radial-gradient(rgba(255,255,255,0.75) 60%, rgba(255,255,255,.3) 15%, transparent);
  position: relative;
}

.RotatingDot {
  position: absolute;
  width: 32px;
  height: 5px;
  background: linear-gradient(rgba(120,120,120,.75) 10%, transparent);
  transform: rotate(0deg);
  transform-origin: 0 0;
  left: 50%;
  top: 50%;
  opacity: 1;
  transition: opacity 1s;
}
