@mixin contact-details() {
  @include view;
}

@mixin read-only() {
  &-Address {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.ContactDetails-#{$theme} {
  &-primary {
    @include layer-bg("primary");
    @include layer-color("primary");
    @include contact-details();
  }

  &-secondary {
    @include layer-bg("secondary");
    @include layer-color("secondary");
    @include contact-details();
  }
}

.ReadOnly {
  &-#{$theme} {
    &-primary {
      @include read-only();
    }
    &-secondary {
      @include read-only();
    }
  }
}
