@mixin contact-details() {
  @include view;
  &-Footer {
    display: flex;
    justify-content: space-evenly;
  }
}

@mixin read-only($variant: "primary") {
  &-Cart {
    background-color: color-palette($variant, "cart", "background");
    color: color-palette($variant, "cart", "text");
    padding: 0.5rem 1rem;
    box-shadow: inset 0 0 2px 0;
    border-radius: 4px;
    margin-bottom: rem(0.5);
    &-Title {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  &-Address {
    display: block;
  }
  &-Contact-Buttons {
    display: flex;
    justify-content: space-evenly;
  }
}

.ContactDetails-#{$theme} {
  &-primary {
    @include layer-bg("primary");
    @include layer-color("primary");
    @include contact-details();
  }

  &-secondary {
    @include layer-bg("secondary");
    @include layer-color("secondary");
    @include contact-details();
  }
}

.ReadOnly {
  &-#{$theme} {
    &-primary {
      @include read-only("primary");
    }
    &-secondary {
      @include read-only("secondary");
    }
  }
}
