@mixin list-item($variant) {
  padding: rem(0.5) rem(1);
  box-sizing: border-box;
  background-color: rgba(color-palette($variant, "card", "background"), 0.75);
  margin-bottom: 0;
  border-bottom: rgba(color-palette($variant, "card", "text"), 0.2) 1px solid;
}

.List-#{$theme} {
  height: 100%;
  &-Item {
    &-primary {
      @include list-item("primary");
    }
    &-secondary {
      @include list-item("secondary");
    }
  }
}
