@mixin list-item($variant) {
  line-height: 2.5;
  padding: 0 1 * $font-size;
  box-sizing: border-box;
  background-color: rgba(color-palette($variant, "card", "background"), 0.75);
  margin-bottom: 0;
  border-bottom: olor-palette($variant, "card", "text") 1px solid;
}

.List-#{$theme} {
  height: 100%;
  &-Item {
    &-primary {
      @include list-item("primary");
    }
    &-secondary {
      @include list-item("secondary");
    }
  }
}
