@mixin badge() {
  border-radius: rem(0.5);
  display: inline-block;
  padding: 0 1em;
  margin: 2px 4px;
  text-align: center;
}

.Badge-#{$theme} {
  &-primary {
    @include badge();
    color: $primary-layer-bg-color;
    background-color: $primary-layer-color;
  }
  &-secondary {
    @include badge();
    @if $theme == "default" {
      border: 1px solid $primary-layer-bg-color;
    } @else {
      color: $secondary-layer-bg-color;
      background-color: $secondary-layer-color;
    }
  }
}
