@mixin badge() {
  border-radius: rem(0.5);
  line-height: inherit;
  display: inline;
  padding: 0.25em 1em;
  text-align: center;
}

.Badge-#{$theme} {
  &-primary {
    @include badge();
    box-shadow: inset 0 0 4px 0 $primary-layer-color;
  }
  &-secondary {
    @include badge();
    box-shadow: inset 0 0 4px 0 $secondary-layer-color;
  }
}
