@import "../../mixins";
.Page {
  @include layer-bg("primary");
  @include layer-color("primary");
  position: absolute;

  left: 0;

  top: 0;
  bottom: 0;
  
  width: 100%;
  display: flex;

  flex-wrap: wrap;

  align-items: center;
  justify-content: center;
}
