@import "../../mixins";

@mixin timer {
  @include view;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  grid-area: ui-components-timer;
  overflow: hidden;
}

.Timer {
  &-primary {
    @include layer-bg("primary");
    @include layer-color("primary");
    @include timer();
  }

  &-secondary {
    @include layer-bg("secondary");
    @include layer-color("secondary");
    @include timer();
  }
}
