.Cart-#{$theme} {
  @include view();
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: transparent;
  left: 0;
  top: 0;
  z-index: 0;
  padding: rem(3) 0 rem(1) 0;

  &:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: color-palette("primary","main", "background");
    opacity: 0.5;
    transition: opacity 600ms;
    z-index: -1;
  }

  &-DatePickerWrapper {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    overflow: scroll;
    padding: 1 * $font-size;
  }

  &-Inline {
    @include zIndex("cart-inline");
  }
  &-Full {
    @include zIndex("cart-full");
  }
}
