@mixin nav-button() {
  display: flex;
  align-items: center;
  padding: 0 1 * $font-size;
  border: 1px solid;
  border-radius: 0.25 * $font-size;
  margin: 0 0.25 * $font-size;
  cursor: pointer;

  &[data-disabled="true"] {
    cursor: auto;
    opacity: 0.25;
  }
  &[hidden] {
    display: none;
  }

  &-Text {
    display: none;
    @media screen and (min-width: map-get($break-points,"small")) {
      display: initial;
    }
  }
}

.Toolbar-#{$theme} {
  display: flex;
}

.Button-#{$theme} {
  @include nav-button();
}
