$theme: "default";

// TYPOGRAPHY
$font-default: Exo, sans-serif;
$font-numbers: "Allerta Stencil", sans-serif;
$font-base: 14px;
$font-size: $font-base * 1;
$font-weight-normal: 300;
$font-weight-bold: 600;

// COLOR PALETTE
$primary-color-pallete: (
  "background": #3d4346,
  "color": #dbdcdd,
  // "pressed": transparentize(#2edcdc, 0.5),
  "selected": #ed7bed,
  "positive": #215d41,
  "negative": #b7adb9,
  "error": #e83570,
);

$secondary-color-pallete: (
  "background": #efebe9,
  "color": #e6a280,
  // "pressed": transparentize(#1f9233, 0.25),
  "selected": #7bedac,
  "positive": #6c4182,
  "negative": #c3c3b3,
  "error": #91143e,
);

$break-points: (
  "x-small": 320px,
  "small": 480px,
  "medium": 720px,
  "large": 960px,
  "xlarge": 1200px,
);
