$theme:"default";

// TYPOGRAPHY
$font-default: Exo, sans-serif;
$font-numbers: "Allerta Stencil", sans-serif;
$font-size: 14px;
$font-weight-normal: 300;
$font-weight-bold: 600;

// LAYERS / VIEWS
$primary-layer-bg-color: #3d4346;
$primary-layer-color: #eeeeee;
$primary-selected-text: rgba(243, 169, 227, 0.25);

$secondary-layer-bg-color: #efebe9;
$secondary-layer-color: #242848;
$secondary-selected-text: rgba(243, 169, 227, 0.75);

$primary-layer: (
  "background": $primary-layer-bg-color,
  "color": $primary-layer-color
);

$secondary-layer: (
  "background": $secondary-layer-bg-color,
  "color": $secondary-layer-color
);

$break-points: (
  "x-small": 320px,
  "small": 480px,
  "medium": 720px,
  "large": 960px,
  "xlarge": 1200px
);
