@mixin text-input($variant: "primary") {
  $BG: get-param($variant, "background-color");
  $C: get-param($variant, "color");

  border: none;
  margin: 0;
  font-size: inherit;
  line-height: $font-size;
  border-radius: 0.75 * $font-size;
  padding-left: .5 * $font-size;

  outline: none;
  transition: background-color 300ms;
  background-color: darken($BG, 5%);
  box-shadow: inset 0 0 2px 0 $BG;
  color: $C;
  max-width: 100%;
  width: 8 * $font-size;

  &:focus {
    background-color: lighten($BG, 5%);
    box-shadow: inset 0 0 2px 0 invert($C, 25%);
  }

  &SearchIcon {
    display: flex;
    position: absolute;
    right:.5 * $font-size;
    color: lighten($BG, 10%);
    margin: auto 0;
  }
}

@mixin auto-complete {
  display: inline-flex;
  flex-wrap: nowrap;
  vertical-align: middle;
  position: relative;
  transition: width 300ms;
}

.AutoComplete-#{$theme} {

      @include  auto-complete ();

      &-primary-input {
        @include text-input("primary");
      }

      &-secondary-input {
        @include text-input("secondary");
      }

}
