@mixin text-input($variant: "primary") {
  $BG: color-palette($variant, "main", "background");
  $C: color-palette($variant, "main", "text");

  border: none;
  margin: 0;
  font-size: inherit;
  line-height: $font-size;
  border-radius: rem(1.5);
  padding-left: rem(.5);
  outline: none;
  transition: background-color, width 300ms;
  background-color: darken($BG, 5%);
  box-shadow: inset 0 0 $font-size 0 $BG;
  color: $C;
  max-width: 100%;
  width: rem(5);

  &:focus {
    background-color: lighten($BG, 5%);
    box-shadow: inset 0 0 2px 0 invert($C, 25%);
    width: rem(10);
  }

  &SearchIcon {
    position: absolute;
    right:rem(.5);
    color: darken($C, 25%);
    margin: auto 0;
  }
}

@mixin auto-complete {
  display: inline-flex;
  flex-wrap: nowrap;
  vertical-align: middle;
  position: relative;
  transition: width 300ms;
}

.AutoComplete-#{$theme} {

      @include  auto-complete ();

      &-primary-input {
        @include text-input("primary");
      }

      &-secondary-input {
        @include text-input("secondary");
      }

}
