@mixin basicButton($variant: "primary") {
  $BG: color-palette($variant, "background");
  $C: color-palette($variant, "color");
  font-family: inherit;
  background-color: transparentize($color: $C, $amount: 0.75);
  padding: rem(0.25) rem(1);
  font-size: rem(1);
  appearance: none;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  transition: all 300ms;

  &:active {
    background-color: transparentize($color: $C, $amount: 0.75);
  }
}
//TODO: use color palette for button variants

button {
  &.Btn-#{$theme} {
    &-basic {
      &-primary {
        @include basicButton();
      }
      &-secondary {
        @include basicButton("secondary");
      }
    }
  }
}

/*
@mixin text-input($variant: "primary") {
  $BG: color-palette($variant, "background");
  $C: color-palette($variant, "color");
*/
