@import "../form-mixins";
$bg-active: rgba(125, 125, 125, 0.125);

@mixin input-wrapper() {
  position: relative;
  border: none;
  margin-bottom: 0.25 * $font-size;
  border-bottom: transparent 2px solid;
}

.Input-#{$theme} {
  &-primary {
    @include input-wrapper();
    &[data-valid="false"] {
      border-bottom: color-palette("primary", "error") 2px solid;
    }
  }

  &-secondary {
    @include input-wrapper();
    &[data-valid="false"] {
      border-bottom: color-palette("secondary", "error") 2px solid;
    }
  }

  &-label {
    display: block;
    position: absolute;
    font-weight: $font-weight-bold;
    font-size: 0.75 * $font-size;
    transition: all 300ms;
    text-transform: capitalize;

    &[data-type="PLACEHOLDER"] {
      font-size: 1 * $font-size;
      transform: translateY(50%);
      font-weight: $font-weight-normal;
      opacity: 0.5;
      font-style: italic;
      text-shadow: 0 0px 1px currentColor;
      margin: $font-size auto auto $font-size;
      line-height: 1;
    }

    &[data-type="LABEL"] {
      display: block;
      position: absolute;
      margin: 0;
      font-weight: $font-weight-bold;
    }
  }

  &-Wrapper {
    display: flex;
    padding-right: rem(1);
    &[data-has-focus="true"] {
      background-color: $bg-active;
    }
  }

  &-input {
    @include form-input();
  }

  &-btn-clear {
    align-self: center;
  }
}
