$theme: "ocean";

// TYPOGRAPHY
$font-default: "Dosis", sans-serif;
$font-numbers: "Audiowide", sans-serif;
$font-size: 14px;
$font-weight-normal: 200;
$font-weight-bold: 600;

// LAYERS / VIEWS
$primary-layer-bg-color: #115171; // #0e8ac7;
$primary-layer-color: #bddaf3;
$primary-selected-text: rgba(64, 11, 161, 0.25);

$secondary-layer-bg-color: #e9efef;
$secondary-layer-color: #225058; // #6569f2;
$secondary-selected-text: rgba(34, 80, 88, 0.75);

$primary-layer: (
  "background": $primary-layer-bg-color,
  "color": $primary-layer-color,
);

$secondary-layer: (
  "background": $secondary-layer-bg-color,
  "color": $secondary-layer-color,
);

$break-points: (
  "x-small": 320px,
  "small": 480px,
  "medium": 720px,
  "large": 960px,
  "xlarge": 1200px,
);
