$theme: "ocean";

// TYPOGRAPHY
$font-default: "Dosis", sans-serif;
$font-numbers: "Audiowide", sans-serif;
$font-base: 14px;
$font-size: $font-base * 1;
$font-weight-normal: 200;
$font-weight-bold: 600;



$primary-color-pallete: (
  "background": #115171,
  "color": #bddaf3,
  "selected": #ed7bed,
  "positive": #7c6a80,
  "negative": #b7adb9,
  "error": #e83570,
);

$secondary-color-pallete: (
  "background": #e9efef,
  "color": #225058,
  "selected": #7bedac,
  "positive": #6c4182,
  "negative": #c9b9d1,
  "error": #91143e,
);

$break-points: (
  "x-small": 320px,
  "small": 480px,
  "medium": 720px,
  "large": 960px,
  "xlarge": 1200px,
);
