@import "variables.ocean";
@import "./theme.ocean";
html,
body {
  font-family: $font-default;
  margin: 0;
}

body * {
  user-select: none;
  -webkit-user-select: none;
  box-sizing: border-box;
}

input {
  user-select: text;
  -webkit-user-select: text;
}
#ooo{
  color: #000;
}