@import "../form-mixins";
@mixin date-time($view) {
  &-#{$view} {
    &-Caption {
      display: grid;
      grid-template-columns: 1fr auto min-content;
      align-items: center;
      font-weight: $font-weight-bold;
    }

    &-Data {
      @include WidthUp("small") {
        grid-template-columns: 1fr 1fr 1fr auto;
        grid-template-rows: 1fr;
      }
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      &[data-toggle="collapsed"] {
        display: none;
        @include WidthUp("small") {
          display: grid;
        }
      }
    }

    &-Toggle {
      @include WidthUp("small") {
        display: none;
      }
    }
  }
}

.DateTime-#{$theme} {
  @include date-time("primary");
  @include date-time("secondary");
  &-primary {
    @include input-wrapper("primary");
  }

  &-secondary {
    @include input-wrapper("secondary");
  }

  &-label {
    @include label();
  }

  &-input {
    @include form-input();
  }
}
