@mixin form-input() {
  $bg: rgba(0, 0, 0, 0);

  &[type="date"],
  &[type="text"],
  &[type="phone"],
  &[type="mail"],
  &[type="zip"],
  &[type="number"] {
    padding: $font-size;
    font-family: $font-default;
    font-size: $font-size;
    background-color: $bg;
    &::selection {
      background-color: color-palette("primary","selected");
    }
  }
}

@mixin option-container($type: "check") {
  display: grid;
  grid-template-areas:
    "icon label"
    ". content";
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  grid-column-gap: 0.25em;
  line-height: 1em;
  margin-bottom: 0.25em;
  padding: 0.25em;

  &-Label {
    grid-area: label;
    font-weight: 700;
  }

  &-Content {
    grid-area: content;
    font-size: 0.75em;
  }
}
