@import "./mixins";

html,
body {
  font-family: $font-default;
  margin: 0;
  background-color:#3d4346;
}

body * {
  user-select: none;
  -webkit-user-select: none;
  box-sizing: border-box;
}

input {
  user-select: text;
  -webkit-user-select: text;
}
