@import "../../mixins";

.Nav {
  @include layer-bg("primary");
  @include layer-color("primary");
  @include zIndex("nav");
  grid-area: ui-components-nav;
  display: grid;
  grid-template-areas: "history suggestion";
  grid-template-columns: auto min-content;
  align-content: center;
}

.HistoryNav {
  grid-area: history;
  display: flex;
  padding: 0 1rem;
  &Back,
  &Forward {
    &Disabled {
      opacity: 0.1;
    }
  }
}
