@mixin settings() {
  @include view();
  display: grid;
  grid-template-areas:
    "header header"
    "left right";
  grid-template-columns: max-content 75%;
  grid-template-rows: 3rem auto;
}

.Settings-#{$theme} {
  &-primary {
    @include layer-bg("primary");
    @include layer-color("primary");
    @include settings();
  }

  &-secondary {
    @include layer-bg("secondary");
    @include layer-color("secondary");
    @include settings();
  }
}

.SettingsHeader-#{$theme} {
  grid-area: header;
}
.SettingsColLeft-#{$theme} {
  grid-area: left;
  overflow: hidden scroll;
  background-color: $primary-layer-bg-color;
  color: $primary-layer-color;
}
.SettingsColRight-#{$theme} {
  grid-area: right;
}

.OptionListName-#{$theme} {
  padding: 0.5rem;
}
